   <div class="panel panel-default tabAPanel childContainer">
 		<div class="panel-heading tabAHeading">
 		
 		
    
    <table id="contactTable" class="table table-striped table-bordered display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="customTh">Name</th>
                <th class="customTh">Email Id</th>
                <th class="customTh">Area</th>
                <th class="customTh">Extension</th>
                <th class="customTh">Timings.</th>
                <th class="customTh">Escalation Lead</th>
            </tr>
        </thead>
        
        
    </table>

	    	</div>
	    	</div>