<!--  <div id="accordion" class="attrInc">
  <h3 class="bg-success">Delta Difference > 10 % <span class="badge">7</span></h3>
  <div>
  <button type="button" class="btn btn-danger floated" style="border-radius:20px;margin-top:3px">BB_PROMTIOM_CURR</button>
   <button type="button" class="btn btn-danger floated" style="border-radius:20px;margin-top:3px">BB_END_DATE</button>
    <button type="button" class="btn btn-danger floated" style="border-radius:20px;margin-top:3px">BB_START_DATE</button>
  </div>
  <h3>Delta Difference > 5 % <span class="badge">7</span></h3>
  <div>
     <button type="button" class="btn btn-warning floated" style="border-radius:20px;margin-top:3px">BB_PROMTIOM_CURR</button>
   <button type="button" class="btn btn-warning floated" style="border-radius:20px;margin-top:3px">BB_END_DATE</button>
    <button type="button" class="btn btn-warning floated" style="border-radius:20px;margin-top:3px">BB_START_DATE</button>
  </div>
  <h3>No Delta Difference <span class="badge">7</span></h3>
  <div>
     <button type="button" class="btn btn-success floated" style="border-radius:20px;margin-top:3px">BB_PROMTIOM_CURR</button>
   <button type="button" class="btn btn-success floated" style="border-radius:20px;margin-top:3px">BB_END_DATE</button>
    <button type="button" class="btn btn-success floated" style="border-radius:20px;margin-top:3px">BB_START_DATE</button>
  </div>
  
</div>

<script>
 
  $(document).ready(function() {
	    $( "#accordion" ).accordion();
	});
  </script> -->
  
   <div class="panel-group">
  <div class="panel panel-default" style="padding:2%;padding-bottom: 0px;border:0px;box-shadow: none;">
    <div class="panel-heading" >
      <h5 class="panel-title" style="height: 25px;font-size:large">
		<button class="btn btn-link" data-toggle="collapse" data-target="#proT1_real" ng-click="proShowDelta1_REAL()">   <span class="glyphicon glyphicon-plus-sign" ng-show="proDelta1_real"> </span><span class="glyphicon glyphicon-minus-sign" ng-hide="proDelta1_real"></span></button>
		Delta Difference > 10 % <span class="badge" style="margin-left:25px;background-color: red">{{redList.length}}</span>
      </h5>
    </div>
    <div id="proT1_real" class="panel-collapse collapse in">
      <div class="panel-body">
      	<span ng-repeat="redAttr in redList">
      	<button type="button" class="btn btn-danger floated" style="border-radius:20px;margin-top:3px" ng-click="showProspectAttributePopup(redAttr)">{{redAttr}}</button></span>
      	
      </div>
    </div>
  </div>
  <div class="panel panel-default" style="padding-left:2%;padding-right:2%;border:0px;box-shadow: none;">
    <div class="panel-heading" >
      <h4 class="panel-title" style="height: 25px;font-size:large">
	<button class="btn btn-link" data-toggle="collapse" data-target="#proT2_real" ng-click="proShowDelta2_REAL()">   <span class="glyphicon glyphicon-plus-sign" ng-show="proDelta2_real"> </span><span class="glyphicon glyphicon-minus-sign" ng-hide="proDelta2_real"></span></button>
	Delta Difference > 5 %<span class="badge" style="margin-left:25px;background-color: yellow">{{amberList.length}}</span>
      </h4>
    </div>
    <div id="proT2_real" class="panel-collapse collapse">
      <div class="panel-body">
      	<span ng-repeat="amberAttr in amberList">
      	<button type="button" class="btn btn-warning floated" style="border-radius:20px;margin-top:3px" ng-click="showProspectAttributePopup(amberAttr)">{{amberAttr}}</button></span>
      </div>
    </div>
  </div>
  <div class="panel panel-default" style="padding-left:2%;padding-right:2%;border:0px;box-shadow: none;">
    <div class="panel-heading">
      <h4 class="panel-title" style="height: 25px;font-size:large">
	<button class="btn btn-link" data-toggle="collapse" data-target="#proT3_real" ng-click="proShowDelta3_REAL()">   <span class="glyphicon glyphicon-plus-sign" ng-show="proDelta3_real"> </span><span class="glyphicon glyphicon-minus-sign" ng-hide="proDelta3_real"></span></button>
	No Delta Difference <span class="badge" style="margin-left:25px;background-color: green">{{greenList.length}}</span>
      </h4>
    </div>
    <div id="proT3_real" class="panel-collapse collapse">
      <div class="panel-body">
      <span ng-repeat="greenAttr in greenList">
      	<button type="button" class="btn btn-success floated" style="border-radius:20px;margin-top:3px" ng-click="showProspectAttributePopup(greenAttr)">{{greenAttr}}</button></span>
      
      </div>
    </div>
  </div>
</div>